@media screen {
    @font-face {
        font-family: Weiti;
        src: url(./font/Weiti.ttf);
    }

    img {
        width: 100vw;
    }
    
    .pc {
        display: none;
    }
    
    .mobile {
        display: block;
    }

    

    .title>h1,
    .text>p,
    .button{
        font-family: Weiti;
    }
   

    .title {
        width: 80vw;
        color: #fff;
    }

    .title>h1 {
        font-size: 8vw;
        font-weight: 300;
    }

    .text {
        width: 80vw;
        /* height: 56vw; */
        background-color: rgba(207, 207, 207, 0.6);
        backdrop-filter: blur(6px);
        color: #fff;
    }

    .text h2 {
        font-size: 6vw;
        margin: 5vw 0;
    }

    .text p {
        font-size: 5vw;
        margin: 6vw auto;
    }

    .button {
        margin: 6vw auto;
        width: 30vw;
        height: 10vw;
        line-height: 10vw;
        font-size: 5vw;

    }


}