@media screen {
    @font-face {
        font-family: "ZhongSong";
        src: url("../fonts/ZhongSong.ttf");
    }


    .pc {
        display: none;
    }


    .mobile {
        display: block;
    }


    body {
        display: flex;
        flex-direction: column;

        min-width: 0;
        max-width: 100vw;
        width: 100vw;
        background-color: #F5F5F5;
    }

    .background.mobile {
        height: 70vw;
        min-width: 0;
        min-height: 0;
    }

    header.mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 14vw;
        border-top: #fff 1px solid;
        border-bottom: #fff 1px solid;
        
    }

    .logo.mobile {
        
        max-height: 8vw;
        filter: invert(95%) sepia(95%) saturate(20%) hue-rotate(15deg) brightness(106%) contrast(104%);
        
    }

    header>.wall {
        margin: 3vw;
        width: 1px;
        height: 70%;
        border-right: #fff 2px solid;
    }

    header>a {
        color: #fff;
        font-size: 4.5vw;
        font-weight: 700;
    }

    nav.mobile {
        display: flex;
        align-items: center;
        justify-content: space-around;

        height: 12vw;
        border-bottom: #fff 1px solid;
        
    }

    nav>a {
        color: #fff;
        font-size: 5vw;
    }

    .container {
        flex: 1;
        overflow: scroll;
        
    }

    .content {
        
       

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow: scroll;
        width: 100vw;
        
    }

    .content>h2 {
        font-size: 8vw;
    }

    
    .resumeBtnBox {
        width: 90vw;
    }

    .resumeBtnBox>button {
        margin: 0 4vw;
        width: 46vw;
        height: 8vw;
        font-size: 5vw;
        border-radius: 8px;
        border: 0;
        background-color: #065BFF;
        color: #fff;
    }


    /* 更新时 新增的移动端样式 */
    
    .content>h2 {
        margin: 10vw auto;
        font-family:'Courier New', Courier, monospace;
    }

    form {
        width: 100vw;
        font-size: 5vw;
        font-family:'Courier New', Courier, monospace;
    }

    .part-box_m {
        margin-bottom: 4vw;
    }

    .part-name_m {
        padding: 0 2vw;
        line-height: 14vw;
        font-family: Suranna;
    }

    .value-box_m {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #acacac;
        padding:0 3vw;
        width: 100%;
        height: 10vw;
        background-color: #fff;
    }

    


    .title_m {
        flex: 1.25;
        padding: 0 2vw;
        font-weight: 700;
    }

    .required::after {
        content: "*";
        margin-left: 1vw;
        color: #f00;
    }

    .value_m {
        flex: 3;
    }

    .value_m>.formVal {
        padding: 0 6vw;
        width: 100%;
        height: 9vw;
        text-align: left;
        font-size: 5vw;
        font-family:'Courier New', Courier, monospace;
    }
    .value_m>input[type="text"], 
    .value_m>input[type="email"] {
        /* font-family: STZhongSong; */
        padding-left: 7vw;
        font-family:'Courier New', Courier, monospace;
    }

    #birthday {
        display: flex;
        justify-content: flex-start;
    }

    #month,
    #day {
        
        padding: 0;
        height: 80%;
        width: 15vw;
    }

    #month{
        margin-left: 7vw;
    }

    #day {
        margin: 0;
    }

    .dsp-box_m {
        border-bottom: 1px solid #acacac;
        padding:0 3vw;
        width: 100%;
        height: 70vw;
        background-color: #fff;
    }

    .dsp-box_m>p {
        line-height: 10vw;
        height: 10vw;
    }

    .dsp-box_m>.value_m>textarea {
        margin: 0;
        padding: 2vw;
        resize: none;
        width: 100%;
        height: 59vw;
        display: block;
        text-align: left;
    }

    .file-box_m {
        height: 99%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .file-box_m img {
        max-width: 20vw;
    }

    .file-box_m p{
        margin: 2vw 0;
    }

    .file-box_m p:nth-child(2) {
        font-weight: 700;
    }

    .file-box_m>label {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    textarea:focus {
        outline: none;
    }

    .no-border {
        border: 0;
    }

    
    
}